@{
    ViewData["Title"] = "Home Page";
}

<div class="p-3 mb-2 bg-dark text-white">
    <div class="container">
        <img src="HomeBackground.jpg" alt="Italian Trulli">
    <h1 class="display-4">Rechtefriet</h1>
    <p>Wil jij nou frietjes eten die alleen maar recht zijn?</p>
    </div>
</div>
